In [1]:
import pysolr
import pandas as pd

In [91]:
solr = pysolr.Solr('http://localhost:8983/solr/mydata', timeout=60, auth=None)

In [179]:
# solr.delete(q='*')

'<?xml version="1.0" encoding="UTF-8"?>\n<response>\n\n<lst name="responseHeader">\n  <int name="rf">2</int>\n  <int name="status">0</int>\n  <int name="QTime">229</int>\n</lst>\n</response>\n'

In [133]:
#df = pd.read_clipboard()
#df.to_csv('companies.csv', sep='\t', encoding='utf-8', index=False)
df = pd.read_csv('companies.csv', sep='\t', encoding='utf-8')

In [180]:
df['type'] = 'ORG'
df['subtype'] = 'USLISTED'
df.columns = ['name','text','id','mcap_boost', 'type', 'subtype']
df.head()

,name,text,id,mcap_boost,type,subtype
0,Microsoft Corp,MSFT Microsoft Microsoft Corp Corporation,MSFT.OQ,100.000000,ORG,USLISTED
1,Amazon.com Inc,AMZN Amazon.com Amazon.com Inc Amazon,AMZN.OQ,90.694794,ORG,USLISTED
2,Apple Inc,AAPL Apple Apple Inc Apple Computers,AAPL.OQ,87.375706,ORG,USLISTED
3,Alphabet Inc,GOOGL Alphabet Alphabet Inc Google,GOOGL.OQ,74.272965,ORG,USLISTED
4,Facebook Inc,FB Facebook Facebook Inc,FB.OQ,50.998515,ORG,USLISTED

In [181]:
data = df.to_dict('records')
print(len(data), 'x', len(data[0]))

3639 x 6

In [182]:
data[0:5]

[{'name': 'Microsoft Corp',
  'text': 'MSFT Microsoft Microsoft Corp Corporation',
  'id': 'MSFT.OQ',
  'mcap_boost': 100.0,
  'type': 'ORG',
  'subtype': 'USLISTED'},
 {'name': 'Amazon.com Inc',
  'text': 'AMZN Amazon.com Amazon.com Inc Amazon',
  'id': 'AMZN.OQ',
  'mcap_boost': 90.69479377,
  'type': 'ORG',
  'subtype': 'USLISTED'},
 {'name': 'Apple Inc',
  'text': 'AAPL Apple Apple Inc Apple Computers',
  'id': 'AAPL.OQ',
  'mcap_boost': 87.3757061,
  'type': 'ORG',
  'subtype': 'USLISTED'},
 {'name': 'Alphabet Inc',
  'text': 'GOOGL Alphabet Alphabet Inc Google',
  'id': 'GOOGL.OQ',
  'mcap_boost': 74.27296515,
  'type': 'ORG',
  'subtype': 'USLISTED'},
 {'name': 'Facebook Inc',
  'text': 'FB Facebook Facebook Inc',
  'id': 'FB.OQ',
  'mcap_boost': 50.99851453,
  'type': 'ORG',
  'subtype': 'USLISTED'}]

In [183]:
solr.add(data)

'<?xml version="1.0" encoding="UTF-8"?>\n<response>\n\n<lst name="responseHeader">\n  <int name="rf">2</int>\n  <int name="status">0</int>\n  <int name="QTime">2669</int>\n</lst>\n</response>\n'

In [193]:
results = solr.search(q='campbell intel amd', 
                      **{'sort':'mcap_boost desc', 'df':'text', 
                      'fl': 'id,name,mcap_boost,type,subtype,score'})
#results = solr.search(q='{!boost b=mcap}text:apple')
#results = solr.search(q='text:apple')
print(len(results))
list(results)

3

[{'name': ['Intel Corp'],
  'id': 'INTC.OQ',
  'mcap_boost': [20.37485787],
  'type': ['ORG'],
  'subtype': ['USLISTED'],
  'score': 5.1250744},
 {'name': ['Advanced Micro Devices Inc'],
  'id': 'AMD.OQ',
  'mcap_boost': [3.235402132],
  'type': ['ORG'],
  'subtype': ['USLISTED'],
  'score': 2.7084205},
 {'name': ['Campbell Soup Co'],
  'id': 'CPB.N',
  'mcap_boost': [1.25392555],
  'type': ['ORG'],
  'subtype': ['USLISTED'],
  'score': 5.165178}]

In [192]:
resp = solr.optimize()
print(resp)

<?xml version="1.0" encoding="UTF-8"?>
<response>

<lst name="responseHeader">
  <int name="status">0</int>
  <int name="QTime">34</int>
</lst>
</response>